body{
    background-image: url('Gradient.jpg');
    background-size: cover;
    background-position: auto;
    background-repeat: no-repeat;
    background-attachment: scroll;
}
h1, h4, p{
    text-align: center;
    font-family: Georgia;
}
h1,h4{
    color: cornsilk;
}
p{
    font-size: 12;
}
#p1{
    color: #82e0ff;
}
#p2{
    color: #05f3df;
}
#p3{
    color: #00c3ff;
}
#p4{
    color: #008cff;
}
#p5{
    color: #0051ff
}
#p6{
    color: #0011ff;
}
#p7{
    color: #1900ff;
}